<div class="container text-center mt-4 mb-4">
    <h1 class="text-center mt-5">Monitoria</h1>
    <div class="d-inline-flex flex-row me-2 mt-4" *ngFor="let topico of topicos_monitores">
        <div class="card me-3">
        <div class="card-header">{{ topico.nome }}</div>
        <div class="card-body">
            <a [routerLink]="topico.rota">Entrar</a>
        </div>
        </div>
    </div>


    <h1 class="text-center mt-5">Minicurso</h1>
    <div class="d-inline-flex flex-row me-2 mt-4" *ngFor="let topico of topicos_minicursos">
        <div class="card me-3">
        <div class="card-header">{{ topico.nome }}</div>
        <div class="card-body">
            <a [routerLink]="topico.rota">Entrar</a>
        </div>
        </div>
    </div>

    <h1 class="text-center mt-5">Monitoria Online</h1>
    <div class="d-inline-flex flex-row me-2 mt-4" *ngFor="let topico of topicos_monitoria_online">
        <div class="card me-3">
        <div class="card-header">{{ topico.nome }}</div>
        <div class="card-body">
            <a [routerLink]="topico.rota">Entrar</a>
        </div>
        </div>
    </div>

    <h1 class="text-center mt-5">Contato</h1>
    <div class="d-inline-flex flex-row me-2 mt-4" >
        <div class="card me-3">
        <div class="card-header">Professor Barbosa</div>
        <div class="card-body">
            <a>antonio.junior@ceub.edu.br</a>
        </div>
        </div>
    </div>
</div>